[user]
	name = Yavor Ivanov
	email = yavor@devlabs.bg
[core]
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | $PAGER --tabs=4 -RFX -M
[diff]
	tool = vimdiff
	prompt = false
	context = 50
[difftool]
	prompt = false
[alias]
	d = difftool
[merge]
	tool = diffconflicts
	; conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
[pager]
	stash = false


[color]
  ; ui = auto
  ui = true
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[pull]
	rebase = false
[interactive]
	diffFilter = diff-so-fancy --patch
[color "diff"]
	commit = 130 bold
	meta = 69
	frag = 130
